<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let src of sourceList">
            <div class="swiper-zoom-container">
                <img src="{{src}}"/>
                <!-- <div
                    class="swiper-zoom-target"
                    style="background-image: url({{src}})"
                ></div> -->
            </div>
        </div>
    </div>
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
</div>